.inputOuter{
    position: relative;
    .input{
        padding-left: 40px;
        margin-bottom: 20px;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
    }
    .emailIcon{
        position: absolute;
        top: 8px;
        left: 10px;
    }
}
.loginBtn{
    width: 100%;
    padding: 0.5rem;
    font-weight: bold;
    font-size: 20px;
}