$sidebar-width: 250px;
$brand-height: 120px;
$transition: all 0.2s ease-out;
$navbar-height: 67px;

.sidebar-wrapper-sec {
  position: fixed;
  top: $navbar-height;
  left: $sidebar-width;
  width: 280px;
  height: calc(100% - 67px);
  z-index: 999;
  background-color: $white;
  transition: $transition;
  color: #A0A4A8;
  border-left: 2px solid #f7f7f7;
  box-shadow: 10px -4px 20px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
  .inner-item{
    display: flex;
   font-weight: 300;
   text-decoration: none;
   color: #666666;
   padding: 0.5rem 0;
   font-size: 13px;
   align-items: center;
   box-shadow: none;
   .icon{
    padding: 4px 6px;
    background: #f7f7f7;
    border-radius: 6px;
    margin-right: 10px;
     svg{
       width: 16px;
       height: 16px;
     }
   }
   &:hover{
     color: $primary;
     .icon{
       background: $primary;
       svg{
         path{
           fill: $white;
         }
       }
     }
   }

  }
  .default{
    background: linear-gradient(180deg, #983F96 0%, #6B286A 100%);
    padding: 1rem 1.25rem;
    width: 100%;
    color: white;
    display: flex;
    justify-content: space-between;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    h4{
      margin: 0;
    }
      svg{
        cursor: pointer;
        path{
          fill: $white;
      }
    }
    
  }
.accordion{
  padding: 1rem;
  &-item{
    border: none;
    border-bottom: 1px solid #EEF0F2;
  }
  &-header{
    button{
      &:focus{
        box-shadow: none;
      }
    }
  }
}
}

.sidebar-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: $sidebar-width;
  height: 100%;
  z-index: 999;
  background-color: $white;
  transition: $transition;
  .navbar {
    .nav{
      margin-top: 7px;
      width: 100%;
      max-height: calc(100vh - #{$brand-height});
      overflow: hidden;
      overflow-y: auto;
      display: flex;
      flex-wrap: nowrap;
      &-item:not(:last-child) {
      //   margin-top: 0.25rem;
        margin-bottom: 0.5rem;
      }
      &-item {
          width: $sidebar-width;
          padding: 0rem 1.2rem;
      }
      &-link{
        display: flex;
        align-items: center;
        border-radius: 8px;
        transition: none;
        color: #A0A4A8;
        .icon{
          padding: 8px;
          background-color: #f7f7f7;
          border-radius: 5px;
          margin-right: 10px;
        }
        &:hover,&.activeLink{
          background: linear-gradient(180deg, #983F96 0%, #6B286A 100%);
          color: $white;
          .icon{
            background-color: #6A2569;
            svg{
              path{
                fill: $white;
              }
            }
          }
        }
      }
      @include scrollbar;
    }
  }
  .navbar {
    padding: 0;
    &-brand {
      display: block;
      margin-right: 0;
      padding: 1rem 3rem 1rem 1.5rem;
     position: relative;
     .menu-icon{
       cursor: pointer;
       position: absolute;
       right: 25px;
     }
      img {
        max-width: 100%;
      }
    }
  }
  + .content-wrapper {
    margin-left: $sidebar-width;
    transition: $transition;
    .loader-container[data-type="block"] {
      left: $sidebar-width;
      width: calc(100% - #{$sidebar-width});
    }
    .fixed-top {
        left: $sidebar-width;
        transition: $transition;
        + .user-main {
          position: relative;
          top: $navbar-height;
        }
    }
  }
}

// Flexible sidebar options
.aside-flexible {
  .sidebar-wrapper-sec{
    left: 80px;
  }
  &.sidebar-wrapper {
    width: 80px;
    .nav {
      max-height: calc(100vh - #{$navbar-height} - #{$brand-height});
      &-item{
        width: auto;
        padding: 0 0.5rem;
        
      }
      &-link{
        justify-content: center;
        .icon{
          margin:0;
          + span{
            display: none;
          }
        }
      }
    }
    + .content-wrapper {
      margin-left: 80px;
    }
  }
}